<form #todoList="ngForm" (click)="formValidator()" autocomplete="off">
  <mat-form-field>
    <input matInput placeholder="Input" [(ngModel)]="description" name="item" placeholder="saisir un text" required />
  </mat-form-field>
  <button type="button" class="addButton" mat-flat-button (click)="Add()" [disabled]="!todoList.form.valid"><i class="material-icons">add</i></button>
</form>

<p>Nombre de Tâches: {{ count }}</p>
<button type="button" mat-flat-button (click)="Clear()">Tout supprimer</button>
<button type="button" (click)="Night()">Night Mode</button>


<mat-list role="list" *ngFor="let todo of todos;let i = index" [ngStyle]="isNightStyle()">
  <mat-list-item role="listitem">
    <div class="blocList">
      {{todo.description}}
    </div>
    <span class="button">
      <button type="button"(click)="Remove(i)"><i class="material-icons">clear</i></button>
    </span>
  </mat-list-item>
</mat-list>
