form {
    display: flex;
}
form mat-form-field {
    width: 90% !important;
}
form .addButton {
    width: 10%;
    height: 48px;
}

mat-list  {
    background: blue;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.blocList{
    display: block;
    margin: auto;
}

.button {
    position: absolute;
    right: 0;
    margin-right: 30px;
}