ul li .list-container {
  display: flex;
  width: 95%;
  margin-top: 30px !important;
  padding: 50px 0px 55px 0px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  margin: auto;
  box-shadow: 0px 5px  #cfcfcf;
}

ul li .list-container .item {
  width: 0%;
  display: table;
  margin: auto;
}

ul li .list-container .button {
  width: 0%;
}

ul li .list-container .button button {
  float: right;
  margin-right: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
